#
# PHP source directory
#
SOURCE_DIR=./www

#
# Runtime data directory
#
DATA_DIR=./data

#
# Container Timezone
#
TZ=Asia/Shanghai

#
# Container package fetch url
#
# Can be empty, followings or others:
# mirrors.163.com
# mirrors.aliyun.com
# mirrors.ustc.edu.cn
#
CONTAINER_PACKAGE_URL=mirrors.aliyun.com

#
# Nginx
#
NGINX_VERSION=1.15.7-alpine
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONFD_DIR=./services/nginx/conf.d
NGINX_CONF_FILE=./services/nginx/nginx.conf
NGINX_FASTCGI_PHP_CONF=./services/nginx/fastcgi-php.conf
NGINX_FASTCGI_PARAMS=./services/nginx/fastcgi_params
NGINX_SSL_CERTIFICATE_DIR=./services/nginx/ssl
NGINX_LOG_DIR=./logs/nginx
# Available apps: certbot
NGINX_INSTALL_APPS=


#
# PHP7
#
# Available PHP_EXTENSIONS:
#
# pdo_mysql,zip,pcntl,mysqli,mbstring,exif,bcmath,calendar,
# sockets,gettext,shmop,sysvmsg,sysvsem,sysvshm,pdo_rebird,
# pdo_dblib,pdo_oci,pdo_odbc,pdo_pgsql,pgsql,oci8,odbc,dba,
# gd,soap,xsl,curl,readline,mcrypt,opcache,
# redis,memcached,xdebug,swoole,pdo_sqlsrv,yaf,mysql,
# ,xlswriter,memcache
#
# You can let it empty to avoid installing any extensions,
# or install multi plugins as:
# PHP_EXTENSIONS=pdo_mysql,mysqli,gd,curl,opcache
#

PHP73_VERSION=7.3.16
PHP73_HOST_PORT=9501
PHP73_PHP_CONF_FILE=./services/php/php.ini
PHP73_FPM_CONF_FILE=./services/php/php-fpm.conf
PHP73_LOG_DIR=./logs/php
PHP73_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,redis,swoole

PHP72_VERSION=7.2.5
PHP72_PHP_CONF_FILE=./services/php72/php.ini
PHP72_FPM_CONF_FILE=./services/php72/php-fpm.conf
PHP72_LOG_DIR=./logs/php72
PHP72_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,redis,xdebug,zip,openssl,sockets,xlswriter


PHP71_VERSION=7.1.33
PHP71_HOST_PORT=9501
PHP71_PHP_CONF_FILE=./services/php71/php.ini
PHP71_FPM_CONF_FILE=./services/php71/php-fpm.conf
PHP71_LOG_DIR=./logs/php71
PHP71_EXTENSIONS=pdo_mysql,mysqli,mbstring,gd,curl,opcache,redis,xdebug




#
# MySQL5
#
MYSQL5_VERSION=5.7.28
MYSQL5_HOST_PORT=3305
MYSQL5_ROOT_PASSWORD=123456
MYSQL5_CONF_FILE=./services/mysql5/mysql.cnf

#
# Redis
#
REDIS_VERSION=5.0.3-alpine
REDIS_HOST_PORT=6379
REDIS_CONF_FILE=./services/redis/redis.conf


